<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<f:view contentType="text/html">
		<h:head>
			<title>Java Proto - boot/webflow/jsf/primfaces/joinfaces - Home</title>
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
		</h:head>
		<h:body>
			<p:panel id="home-panel" header="Welcome">
				<h:form id="main-form">
					<p:tieredMenu>
						<p:submenu label="Administration">
							<p:menuitem id="go-to-account-btn" value="Admin account" url="account" />
						</p:submenu>
					</p:tieredMenu>
				</h:form>
			</p:panel>
		</h:body>
	</f:view>
</html>