<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">

	<h:head>
		<title>Java Proto - boot/webflow/jsf/primfaces/joinfaces - Account admin</title>
		<f:facet name="last">
			<ui:remove>
				<ui:insert name="optional-styles" />
			</ui:remove>
		</f:facet>
	</h:head>
	<h:body>
		<p:layout fullPage="true" id="default-layout">
			<p:layoutUnit position="north" size="100" resizable="true">
				<f:facet name="header">
					Header title
				</f:facet>
			</p:layoutUnit>
	
			<p:layoutUnit position="west" size="200" resizable="true">
				<f:facet name="header">
					Header title
				</f:facet>
			</p:layoutUnit>
	
			<p:layoutUnit position="center" resizable="true">
				<f:facet name="header">
					<ui:insert name="center-unit-header" />
				</f:facet>
				
				<h:form id="main-form">
					<p:panel>
						<p:panelGrid columns="2">
							Todo
						</p:panelGrid>
						
						<f:facet name="footer">
							<p:commandButton id="finish-btn" value="Validate" action="finish" ajax="false" />
							<p:commandButton id="cancel-btn" value="Cancel" action="cancel" ajax="false" />
						</f:facet>
					</p:panel>
				</h:form>
			</p:layoutUnit>
	
			<p:layoutUnit position="south" size="100" resizable="true">
				<f:facet name="header">
					Powered by
				</f:facet>
			</p:layoutUnit>
		</p:layout>
	</h:body>
</html>